
PRODUCT_BUNDLE_IDENTIFIER = uk.nhs.nhsx.CoLocateTests
INFOPLIST_FILE = CoLocateTests/Info.plist

CODE_SIGN_STYLE = Automatic

BUNDLE_LOADER = $(TEST_HOST)
PRODUCT_NAME = $(TARGET_NAME)
LD_RUNPATH_SEARCH_PATHS = $(inherited) @executable_path/Frameworks @loader_path/Frameworks
TEST_HOST = $(BUILT_PRODUCTS_DIR)/CoLocate.app/CoLocate
