<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>info</key>
	<string>https://covid19.nhs.uk/</string>
	<key>moreAbout</key>
	<string>https://covid19.nhs.uk</string>
	<key>privacyAndData</key>
	<string>https://covid19.nhs.uk/privacy-and-data.html</string>
	<key>ourPolicies</key>
	<string>https://covid19.nhs.uk/our-policies.html</string>
	<key>nhs111Coronavirus</key>
	<string>https://111.nhs.uk/covid-19/</string>
	<key>bookTest</key>
	<string>https://self-referral.test-for-coronavirus.service.gov.uk/cta-start</string>
	<key>statusInfo</key>
	<string>https://covid19.nhs.uk/</string>
	<key>workplaceGuidance</key>
	<string>https://faq.covid19.nhs.uk/article/KA-01072/en-us</string>
	<key>regionalServices</key>
	<string>https://faq.covid19.nhs.uk/article/KA-01065/en-us</string>
	<key>status</key>
	<dict>
		<key>ok</key>
		<dict>
			<key>currentAdvice</key>
			<string>https://faq.covid19.nhs.uk/article/KA-01062/en-us</string>
		</dict>
		<key>exposed</key>
		<dict>
			<key>currentAdvice</key>
			<string>https://faq.covid19.nhs.uk/article/KA-01063/en-us</string>
		</dict>
		<key>symptomatic</key>
		<dict>
			<key>currentAdvice</key>
			<string>https://faq.covid19.nhs.uk/article/KA-01078/en-us</string>
		</dict>
		<key>positiveTestResult</key>
		<dict>
			<key>currentAdvice</key>
			<string>https://faq.covid19.nhs.uk/article/KA-01064/en-us</string>
		</dict>
		<key>exposedSymptomatic</key>
		<dict>
			<key>currentAdvice</key>
			<string>https://faq.covid19.nhs.uk/article/KA-01088/en-us</string>
		</dict>
	</dict>
</dict>
</plist>
